.piece-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.piece-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.piece-preview-grid {
    display: grid;
    grid-template-columns: repeat(var(--piece-grid-cols, 1), 1fr);
    gap: 1px;
    width: fit-content;
}

.piece-preview-cell {
    width: var(--preview-grid-size);
    height: var(--preview-grid-size);
}

.piece-preview-percentage {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #aaa;
}