.slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}
.slider-label {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight:700;
}
.minimal-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: var(--foreground);
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
    cursor: pointer;
}
.minimal-slider:hover {
    opacity: 1;
}
.minimal-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 24px;
    background: var(--background);
    border: 1px solid var(--foreground);
    box-shadow: 
        1.5px 1.5px 0 var(--glitch-red), 
        -1.5px -1.5px 0 var(--glitch-cyan);
    margin-top: -1px; /* Vertically center */
}
.minimal-slider::-moz-range-thumb {
    width: 12px;
    height: 24px;
    background: var(--background);
    border: 1px solid var(--foreground);
    box-shadow: 
        1.5px 1.5px 0 var(--glitch-red), 
        -1.5px -1.5px 0 var(--glitch-cyan);
}
.minimal-slider:disabled {
    background: rgba(0,0,0,0.2);
    opacity: 0.5;
    cursor: not-allowed;
}
.minimal-slider:disabled::-webkit-slider-thumb {
    box-shadow: none;
    background: rgba(0,0,0,0.5);
}
.minimal-slider:disabled::-moz-range-thumb {
    box-shadow: none;
    background: rgba(0,0,0,0.5);
}
