.next-piece-panel {
    padding: 1rem;
}

.next-piece-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    height:100%;

    width: var(--piece-grid-size);
    min-height: var(--piece-grid-size);
}

.piece-odds-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.piece-odds-percentage {
    margin-top: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--foreground);
}