.gameboard-grid {
    --mino-color: var(--foreground);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--foreground);
}

.gameboard-cell {
    width: 100%;
    height: 100%;
}

.gameboard-cell.merged {
    background-color: var(--mino-color);
}

.player-piece {
    background-color: black;
    border: 1px solid var(--foreground);
    box-shadow: 1px 1px 0 var(--glitch-red), -1px -1px 0 var(--glitch-cyan);
}

.mino-I { background-color: var(--mino-color); }
.mino-J { background-color: var(--mino-color); }
.mino-L { background-color: var(--mino-color); }
.mino-O { background-color: var(--mino-color); }
.mino-S { background-color: var(--mino-color); }
.mino-T { background-color: var(--mino-color); }
.mino-Z { background-color: var(--mino-color); }
.mino-0 { background-color: transparent; }
